{% extends 'layout/layout.html.twig' %}

{% block title %}Homepage{% endblock title %}

{% block body %}
        {% include "default/partials/sections/loader_item.html.twig" %}
        {% include "default/partials/sections/section_home.html.twig" %}
        {% include "default/partials/sections/section_about.html.twig" %}
        {% include "default/partials/sections/section_services.html.twig" %}
        {% include "default/partials/sections/blog_postsnew.html.twig" %}
{% endblock body %}
