{% if show_confirmation|default(false) %}
    {% set attr = {'data-confirmation': 'true'} %}
    {{ include('blog/_delete_post_confirmation.html.twig') }}
{% endif %}

{{ form_start(form, {attr: attr|default({})}) }}
    {{ form_row(form.translations) }}
    {{ form_row(form.publishedAt) }}
    {{ form_row(form.tags) }}

<ul id="image-fields-list"
    data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.children|length }}">
    {% for imageField in form.images %}
        <li>
            {{ form_errors(imageField) }}
            {{ form_widget(imageField) }}
        </li>
    {% endfor %}
</ul>

<button type="button" class="add-another-collection-widget" data-list-selector="#image-fields-list">
    Add another image
</button>

<button type="submit" class="{{ button_css|default("btn btn-primary") }}">
    <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.create_post'|trans) }}
</button>

{% if include_back_to_home_link|default(false) %}
    <a href="{{ path('admin_post_index') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
    </a>
{% endif %}
{{ form_end(form) }}
