{# TODO: Implement using new layout & styling #}

<div class="col-md-4 col-sm-6 col-xs-12 ">
    <div class="ce-feature-box-7 no-margin less-padd-2">
        <div class="img-box">
            <div class="postdate-box"><span class="icon-pencil icon"></span>Blog</div>
                <img src="http://via.placeholder.com/900x1000" alt="" class="img-responsive" />
        </div>
        <div class="postinfo-box shadow">
            <h4 class=" title font-weight-4">
                <a href="{{ path('blog_post', {slug: post.slug}) }}" target="_blank">
                    {{ post.title }}
                </a>

            </h4>
            <div class="blog-post-info"><span><i class="fa fa-folder"></i>
                                            Business/corporate</span></div>

            <br />
            <p>
                {{ post.summary}}
            </p>
            <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName |trans }}</span>
            <span class="fa fa-calendar">  {{ post.publishedAt|localizeddate('long', 'medium', null, 'UTC') }} </span>
        </div>
    </div>
</div>


