<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="ce-feature-box-45 margin-bottom">
        <div class="ce-post-img"> <a href="#">
                <div class="info-badge"><span class="icon-pencil icon"></span>Blog</div>
                <div class="overlay"><i class="fa fa-plus" aria-hidden="true"></i> </div>
            </a> <img src="http://via.placeholder.com/1000x800" alt="" class="img-responsive"/> </div>
        <div class="text-box">
            <h5 class="less-mar-1 title">
                <a href="{{ path('blog_post', {slug: post.slug}) }}" target="_blank">
                    {{ post.title }}
                </a>
            </h5>
            <p>
                {{ post.summary}}
            </p>

            <div class="date-info-box">

                <div class="box-left">
                    <span class="fa fa-calendar" aria-hidden="true">
                        {{ post.publishedAt|date("F d,Y") }}
                    </span>&nbsp;
                </div>

                <div class="box-right">
                    <span class="fa fa-comments-o" aria-hidden="true">

                    </span>&nbsp; 26
                </div>
            </div>
        </div>
    </div>
</div>
<!--end item-->
