<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">

        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/bootstrap/bootstrap.min.css') }}" />

            <link rel="stylesheet" type="text/css"
                  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" />
            <link rel="stylesheet" type="text/css"
                  href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700" />
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Yesteryear" />

            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/megamenu/stylesheets/screen.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/css/theme-default.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/loaders/stylesheets/screen.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/css/corporate.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/fonts/font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/fonts/Simple-Line-Icons-Webfont/simple-line-icons.css') }}" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/fonts/et-line-font/et-line-font.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/revolution-slider/css/settings.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/revolution-slider/css/layers.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/revolution-slider/css/navigation.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/parallax/main.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/cubeportfolio/cubeportfolio.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/owl-carousel/owl.carousel.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/owl-carousel/owl.theme.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/tabs/css/responsive-tabs.css') }}" media="all" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/ytplayer/ytplayer.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/accordion/css/smk-accordion.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/parallax/main.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('template/js/ytplayer/ytplayer.css') }}" />

            <!--[if lt IE 9]>
            <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <link rel="stylesheet/less" type="text/css" href="{{ asset('template/less/skin.less') }}">
        {% endblock stylesheets %}
    </head>

    <body>
        <div class="wrapper-boxed">
            <div class="site-wrapper">
                {% include "layout/navbarnew.html.twig" %}
                {% block body %}{% endblock body %}
                {% include "layout/section_contact.html.twig" %}
                {% include "layout/section_form.html.twig" %}
                {% include "layout/section_footer.html.twig" %}
                {% include "layout/scrollup.html.twig" %}
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('template/js/jquery/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/bootstrap/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/less/less.min.js') }}" data-env="development"></script>
            <script type="text/javascript" src="{{ asset('template/js/megamenu/js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/ytplayer/jquery.mb.YTPlayer.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/ytplayer/elementvideo-custom.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/ytplayer/play-pause-btn.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/revolution-slider/js/jquery.themepunch.tools.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/revolution-slider/js/jquery.themepunch.revolution.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.actions.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.migration.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('template/js/revolution-slider/js/extensions/revolution.extension.video.min.js') }}"></script>
            <script type="text/javascript">
              var tpj = jQuery;
              var revapi4;
              tpj(document).ready(function() {
                if (tpj('#rev_slider').revolution == undefined) {
                  revslider_showDoubleJqueryError('#rev_slider');
                } else {
                  revapi4 = tpj('#rev_slider').show().revolution({
                    sliderType:     'standard',
                    jsFileLocation: 'js/revolution-slider/js/',
                    sliderLayout:   'auto',
                    dottedOverlay:  'none',
                    delay:          9000,
                    navigation:     {
                      keyboardNavigation:    'off',
                      keyboard_direction:    'horizontal',
                      mouseScrollNavigation: 'off',
                      onHoverStop:           'off',
                      arrows:                {
                        style:             'uranus',
                        enable:            true,
                        hide_onmobile:     false,
                        hide_under:        100,
                        hide_onleave:      true,
                        hide_delay:        200,
                        hide_delay_mobile: 1200,
                        tmp:               '',
                        left:              {
                          h_align:  'left',
                          v_align:  'center',
                          h_offset: 80,
                          v_offset: 0,
                        },
                        right:             {
                          h_align:  'right',
                          v_align:  'center',
                          h_offset: 80,
                          v_offset: 0,
                        },
                      }
                      ,
                      touch:                 {
                        touchenabled:        'on',
                        swipe_threshold:     75,
                        swipe_min_touches:   1,
                        swipe_direction:     'horizontal',
                        drag_block_vertical: false,
                      }
                      ,

                    },
                    viewPort:       {
                      enable:       true,
                      outof:        'pause',
                      visible_area: '80%',
                    },

                    responsiveLevels:       [1240, 1024, 778, 480],
                    gridwidth:              [1240, 1024, 778, 480],
                    gridheight:             [875, 750, 600, 420],
                    lazyType:               'smart',
                    parallax:               {
                      type:   'mouse',
                      origo:  'slidercenter',
                      speed:  2000,
                      levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                    },
                    shadow:                 0,
                    spinner:                'off',
                    stopLoop:               'off',
                    stopAfterLoops:         -1,
                    stopAtSlide:            -1,
                    shuffle:                'off',
                    autoHeight:             'off',
                    hideThumbsOnMobile:     'off',
                    hideSliderAtLimit:      0,
                    hideCaptionAtLimit:     0,
                    hideAllCaptionAtLilmit: 0,
                    disableProgressBar:     'on',
                    debugMode:              false,
                    fallbacks:              {
                      simplifyAll:            'off',
                      nextSlideOnWindowFocus: 'off',
                      disableFocusListener:   false,
                    },
                  });
                }
              });
            </script>
            <script>
              var tpj = jQuery;

              var revapi280;
              tpj(document).ready(function() {
                if (tpj('#rev_slider_280_1').revolution == undefined) {
                  revslider_showDoubleJqueryError('#rev_slider_280_1');
                } else {
                  revapi280 = tpj('#rev_slider_280_1').show().revolution({
                    sliderType:                'hero',
                    jsFileLocation:            '../../revolution/js/',
                    sliderLayout:              'auto',
                    dottedOverlay:             'none',
                    delay:                     9000,
                    navigation:                {},
                    responsiveLevels:          [1240, 1024, 778, 480],
                    visibilityLevels:          [1240, 1024, 778, 480],
                    gridwidth:                 [1000, 1024, 778, 480],
                    gridheight:                [700, 520, 420, 420],
                    lazyType:                  'none',
                    parallax:                  {
                      type:   'scroll',
                      origo:  'slidercenter',
                      speed:  1000,
                      levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                      type:   'scroll',
                    },
                    shadow:                    0,
                    spinner:                   'spinner2',
                    autoHeight:                'off',
                    fullScreenAutoWidth:       'off',
                    fullScreenAlignForce:      'off',
                    fullScreenOffsetContainer: '',
                    fullScreenOffset:          '60',
                    disableProgressBar:        'on',
                    hideThumbsOnMobile:        'off',
                    hideSliderAtLimit:         0,
                    hideCaptionAtLimit:        0,
                    hideAllCaptionAtLilmit:    0,
                    debugMode:                 false,
                    fallbacks:                 {
                      simplifyAll:          'off',
                      disableFocusListener: false,
                    },
                  });
                }
              });
            </script>
            <script>
              $(window).load(function() {
                setTimeout(function() {

                  $('.loader-live').fadeOut();
                }, 1000);
              });

            </script>
            <script type="text/javascript" src="{{ asset('template/js/parallax/parallax-background.min.js') }}"></script>
            <script>
              (function($) {
                $('.parallax').parallaxBackground();
              })(jQuery);
            </script>
            <script type="text/javascript" src="{{ asset('template/js/tabs/js/responsive-tabs.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/cubeportfolio/jquery.cubeportfolio.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/cubeportfolio/mosaic-flat.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/owl-carousel/owl.carousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/owl-carousel/custom.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/owl-carousel/owl.carousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/accordion/js/smk-accordion.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/accordion/js/custom.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/progress-circle/raphael-min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/progress-circle/custom.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/progress-circle/jQuery.circleProgressBar.js') }}"></script>
            <script type="text/javascript" src="{{ asset('template/js/functions/functions.js') }}"></script>
        {% endblock javascripts %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
    </body>
</html>
