<div class="col-md-12 nopadding">
    <div class="header-section white dark-dropdowns style1 links-dark pin-style">
        <div class="container">
            <div class="mod-menu">
                <div class="row">
                    <div class="col-sm-2">
                        <a href="/" title="" class="logo style-2 mar-4">
                            <img src="{{ asset('template/images/logo/logo-dark.png') }}" alt="">
                        </a>
                    </div>
                    <div class="col-sm-10">
                        <div class="main-nav">
                            <ul class="nav navbar-nav top-nav">
                                <li class="search-parent">
                                    <a href="javascript:void(0)" title="">
                                        <i aria-hidden="true" class="fa fa-search"> </i></a>
                                    <div class="search-box ">
                                        <div class="content">
                                            <div class="form-control">
                                                <input type="text" placeholder="Type to search" />
                                                <a href="#" class="search-btn mar-1">
                                                    <i aria-hidden="true" class="fa fa-search"></i>
                                                </a>
                                            </div>
                                            <a href="#" class="close-btn mar-1">x</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown open">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-expanded="false"
                                       id="locales">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                        <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                                    </a>
                                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                                        <li aria-checked="true" role="menuitem">
                                            <a href="/en/">English
                                                <small></small>
                                            </a>
                                        </li>
                                        <li aria-checked="false" role="menuitem">
                                            <a href="/ru/">Русский
                                                <small></small>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible-xs menu-icon">
                                    <a href="javascript:void(0)"
                                       class="navbar-toggle collapsed"
                                       data-toggle="collapse"
                                       data-target="#menu"
                                       aria-expanded="false"><i aria-hidden="true" class="fa fa-bars"></i></a>
                                </li>
                            </ul>
                            <div id="menu" class="collapse">
                                <ul class="nav navbar-nav">
                                    <li class="mega-menu active">
                                        <a href="#" class="mega-menu" >Home</a>
                                        <span class="arrow"></span>
                                    </li>
                                    <li>
                                        <a href="#about" class="mega-menu">About</a>
                                        <span class="arrow"></span>
                                    </li>
                                    <li>
                                        <a href="#services" class="mega-menu">Services</a>
                                        <span class="arrow"></span>
                                    </li>
                                    <li>
                                        <a href="#blog" class="mega-menu">Blog</a>
                                        <span class="arrow"></span>
                                    </li>
                                    <li>
                                        <a href="#contact" class="mega-menu">Contact</a>
                                        <span class="arrow"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end menu-->
</div>
<!--end menu-->
