<section >
    <div class="sec-padding section-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 colmargin clearfix margin-bottom">
                    <div class="fo-map">
                        <div class="footer-logo"><img src="{{ asset('template/images/logo/logo.png') }}" alt="Blak"></div>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo </p>
                        <p class="text-white">consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo.</p>
                        <h6 class="text-white">© -codelayers.net</h6>
                    </div>
                </div>
                <!--end item-->

                <div class="col-md-3 col-xs-12 clearfix margin-bottom">
                    <h4 class="less-mar3 font-weight-5 text-white">About Us</h4>
                    <div class="clearfix"></div>
                    <br/>
                    <ul class="footer-quick-links-6 white">
                        <li><a href="#"> Home</a></li>
                        <li><a href="#"> Products</a></li>
                        <li><a href="#"> About Us</a></li>
                        <li><a href="#"> Our Services</a></li>
                        <li><a href="#"> Contact</a></li>
                    </ul>
                </div>
                <!--end item-->

                <div class="col-md-3 col-xs-12 clearfix margin-bottom">
                    <h4 class="less-mar3 font-weight-5 text-white">Our Services</h4>
                    <div class="clearfix"></div>
                    <br/>
                    <ul class="footer-quick-links-6">
                        <li><a href="#"> UI Design</a></li>
                        <li><a href="#"> Animations</a></li>
                        <li><a href="#"> Graphic Design</a></li>
                        <li><a href="#"> Responsive Design</a></li>
                        <li><a href="#"> Phot Gallery</a></li>
                    </ul>
                </div>
                <!--end item-->

                <div class="col-md-3 col-xs-12 clearfix margin-bottom">
                    <h4 class="less-mar3 font-weight-5 text-white">Contact Us</h4>
                    <div class="clearfix"></div>
                    <br/>
                    <address class="text-white">
                        <strong class="text-white uppercase">Address:</strong> <br>
                        No.28 - 63739 street lorem ipsum, <br>
                        ipsum City, Country
                    </address>
                    <span class="text-white"><strong class="text-white uppercase">Phone:</strong> + 1 (234) 567 8901</span><br>
                    <span class="text-white"><strong class="text-white uppercase">Email:</strong> support@yoursite.com </span><br>
                    <span class="text-white"><strong class="text-white uppercase">Fax:</strong> + 1 (234) 567 8901</span>
                    <ul class="footer-social-icons dark left-align icons-plain text-center">
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <!--end item-->

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- end section -->

    <div class="divider-line solid dark opacity-1"></div>
    <section class="sec-padding-6 section-primary">
        <div class="container">
            <div class="row">
                <div class="fo-copyright-holder text-center"> <span class="text-white">Copyright © 2018 l Codelayers. All rights reserved. </span> </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
</section>
