<div id="contact" class="divider-line solid light-2"></div>
<section class="section-side-image section-dark-2 clearfix">
    <div class="img-holder col-md-6 pull-left">
        <div class="background-imgholder" style="background:url(http://via.placeholder.com/1500x1000);"><img class="nodisplay-image" src="http://via.placeholder.com/1500x1000" alt=""/> </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="ce-feature-box-49">
                    <div class="text-box pos-1">
                        <h3 class="font-weight-3 text-white">We develop user interface Applications animations & icons. </h3>

                    </div>

                </div>
            </div>
            <!--end item-->

            <div class="col-md-6 text-inner-6 clearfix align-left">
                <div class="text-box">
                    <div class="text-left">

                        <div class="col-md-12 col-sm-12 col-xs-12 slide-controls-primary">
                            <div class="ce-feature-box-70 margin-bottom">
                                <div class="text-box">
                                    <div class="col-sm-12 nopadding">
                                        <div class="sec-title-container less-padding-4 text-left">
                                            <h5 class="font-weight-4 less-mar-1 line-height-4 ce-title-top-text grey-1">Contact Us</h5>
                                            <h2 class="font-weight-6 less-mar-1 line-height-5 text-white">Quick Contact Us</h2>
                                            <div class="ce-title-line align-left"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--end title-->
                                    <div class="form-body bg-light">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input id="name" class="input-1" type="text" placeholder="Enter name" name="Name">
                                            </div>
                                            <div class="col-md-6">
                                                <input id="email" class="input-1" type="text" placeholder="Enter your email" name="Name">
                                            </div>
                                        </div>
                                        <!-- end row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <input id="phone" class="input-1" type="text" placeholder="Enter phone number" name="Name">
                                            </div>
                                        </div>
                                        <!-- end row -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <textarea id="comment" class="textaria-1" placeholder="Enter your message" name="message"></textarea>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                        <div class="row"> <br/>
                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-dark btn-round btn-medium uppercase" type="submit"> <i class="fa fa-paper-plane"></i> Submit message </button>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class=" clearfix"></div>
<!--end section-->

