<section id="blog" class="section-side-image section-light sec-padding clearfix">
    <div class="img-holder col-md-12 col-sm-12 pull-left">
        <div class="background-imgholder" style="background:url(http://via.placeholder.com/2000x1500);"><img class="nodisplay-image" src="{{ asset ('http://via.placeholder.com/2000x1500')}}" alt=""/> </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="clearfix"></div>
            {% for post in posts %}
                {% include "default/partials/section_blog_list.html.twig" %}
            {% endfor %}

        </div>
    </div>
</section>
<div class=" clearfix"></div>
<!--end section-->
