<section id="services" class="section-side-image section-light clearfix">
    <div class="img-holder col-md-12 col-sm-12 pull-left">
        <div class="background-imgholder" style="background:url(http://via.placeholder.com/2000x1500);"><img class="nodisplay-image" src="http://via.placeholder.com/2000x1500" alt=""/> </div>
    </div>
    <div class="container-fluid">
        <div class="row slider-btn-12">


            <div id="owl-demo18" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 text-inner clearfix align-left">

                        <div class="ce-feature-box-56 margin-bottom">
                            <div class="text-box">
                                <div class="quote-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus. </p>

                                <br/>
                                <h5 class="less-mar-1">Margaret - Designer, Abc</h5>


                            </div>
                        </div>

                    </div>
                    <!--end col-->
                </div>
                <!--end carousel item-->


                <div class="item">
                    <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 text-inner clearfix align-left">

                        <div class="ce-feature-box-56 margin-bottom">
                            <div class="text-box">
                                <div class="quote-icon"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus. </p>

                                <br/>
                                <h5 class="less-mar-1">Margaret - Designer, Abc</h5>


                            </div>
                        </div>

                    </div>
                    <!--end col-->
                </div>
                <!--end carousel item-->


            </div>
            <!--end carousel-->

        </div>
    </div>
</section>
<div class=" clearfix"></div>
<!--end section-->
