<section id="about" class="section-side-image section-light clearfix">
    <div class="img-holder col-md-12 col-sm-12 pull-left">
        <div class="background-imgholder" style="background:url(http://via.placeholder.com/2000x1500);"><img class="nodisplay-image" src="http://via.placeholder.com/2000x1500" alt=""/> </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="ce-feature-box-9-main more-height-1">
                <div class="col-md-4 animate-in" data-anim-type="fade-in-up" data-anim-delay="100">

                    <div class="ce-feature-box-9 style-3 margin-bottom text-center">
                        <!--              <div class="top-box"></div>
                                      <div class="bottom-box"></div>-->
                        <div class="img-box"><img src="http://via.placeholder.com/600x400" alt="" class="img-responsive"/></div>
                        <div class="clearfix"></div>
                        <br/>
                        <h4 class="title less-mar-1 line-height-3"><span>Wireframes</span></h4>
                        <div class="title-bline"></div>
                        <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. </p>
                        <br/>
                        <br/>
                        <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle text-primary" aria-hidden="true"></i> Read more</a></div>
                </div>
                <!--end item-->

                <div class="col-md-4 animate-in" data-anim-type="fade-in-up" data-anim-delay="200">
                    <div class="ce-feature-box-9 style-3 margin-bottom text-center">
                        <!--              <div class="top-box"></div>
                                      <div class="bottom-box"></div>-->
                        <div class="img-box"><img src="http://via.placeholder.com/600x400" alt="" class="img-responsive"/></div>
                        <div class="clearfix"></div>
                        <br/>
                        <h4 class="title less-mar-1 line-height-3"><span>Design Mockups</span></h4>
                        <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. </p>
                        <br/>
                        <br/>
                        <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle text-primary" aria-hidden="true"></i> Read more</a></div>
                </div>
                <!--end item-->

                <div class="col-md-4 animate-in" data-anim-type="fade-in-up" data-anim-delay="300">
                    <div class="ce-feature-box-9 style-3 margin-bottom text-center">
                        <!--              <div class="top-box"></div>
                                      <div class="bottom-box"></div>-->
                        <div class="img-box"><img src="http://via.placeholder.com/600x400" alt="" class="img-responsive"/></div>
                        <div class="clearfix"></div>
                        <br/>
                        <h4 class="title less-mar-1 line-height-3"><span>Development</span></h4>
                        <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. </p>
                        <br/>
                        <br/>
                        <a class="btn btn-dark btn-round btn-medium uppercase" href="#"><i class="fa fa-play-circle text-primary" aria-hidden="true"></i> Read more</a></div>
                </div>
                <!--end item-->
            </div>
            <!--end feature box main-->
        </div>
    </div>
</section>
<div class=" clearfix"></div>
<!--end section-->
