<section id="home" class="sec-tpadding-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 margin-bottom"> <img src="{{  asset ('http://via.placeholder.com/800x1000') }}" alt="" class="img-responsive"/> </div>
            <!--end item-->

            <div class="col-md-6 margin-bottom">
                <div class="col-sm-12 nopadding">
                    <div class="sec-title-container less-padding-4 text-left">
                        <h5 class="font-weight-4 less-mar-1 line-height-4 ce-title-top-text">About Company and Goals</h5>
                        <h2 class="font-weight-6 less-mar-1 line-height-5">We are very creative</h2>
                        <div class="ce-title-line align-left"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--end title-->

                <br/>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo consectetuer adipiscing Praesent mattis commodo augue Aliquam ornare consectetuer adipiscing hendrerit augue Cras tellus In pulvinar lectus Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo consectetuer adipiscing Praesent mattis commodo augue Aliquam ornare consectetuer adipiscing hendrerit .</p>
                <br/>
                <div class="iconlist-2">
                    <div class="icon dark"><i class="fa fa-arrow-circle-right"></i></div>
                    <div class="text">Pellentesque sit amet augue eu orci cursus fermentum vestibulum in dolor.</div>
                </div>
                <!--end item-->

                <div class="iconlist-2">
                    <div class="icon dark"><i class="fa fa-arrow-circle-right"></i></div>
                    <div class="text">Maecenas fringilla orci ultrices nulla consectetur, id suscipit erat vulputate.</div>
                </div>
                <!--end item-->

                <div class="iconlist-2">
                    <div class="icon dark"><i class="fa fa-arrow-circle-right"></i></div>
                    <div class="text">Nullam efficitur velit ut interdum pellentesque.</div>
                </div>
                <!--end item-->

                <div class="iconlist-2">
                    <div class="icon dark"><i class="fa fa-arrow-circle-right"></i></div>
                    <div class="text">Maecenas sit amet orci eget mi commodo scelerisque eu tempus mi.</div>
                </div>
                <!--end item-->
                <div class="clearfix"></div>
                <br/>
                <img src="images/ce4-34.png" alt=""/>
                <div class="clearfix"></div>
                <br/>
                <br/>
                <a class="btn btn-dark btn-round uppercase" href="#"><i class="fa fa-play-circle" aria-hidden="true"></i> Read more</a> </div>
            <!--end item-->
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->
