{% extends 'layout/layout_old.html.twig' %}

{% block body_id 'user_password' %}

{% block main %}
    <h1>{{ 'title.change_password'|trans }}</h1>

    <div class="alert alert-info" role="alert">{{ 'info.change_password'|trans }}</div>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('user_edit') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_user'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
